@import "./_WCFH.scss";


html {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    box-sizing: border-box;
  }
body {
    text-align: center;
  }
  .gallery {
    position: relative;
  }
  .WCFH {
    position: absolute;
    transition: all 0.3s;
    outline-offset: 1rem;
  }
  .WCFH:hover {
    transform: scale(1.3);
    outline: 1rem solid rgb(247, 170, 221);
    z-index: 2;
  }
  .overlaybase {
    top: 70rem;
    width: 100%;
    height: auto;
  }
  .overlay {
    position: absolute;
    opacity: 0;
    transition: .5s ease;
  }
  
  .overlaybase:hover .overlay {
    opacity: 1;
  }