html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  text-align: center;
}

.gallery {
  position: relative;
}
.enlarge figure img{
  position: absolute;
  transition: all 0.3s;
  outline-offset: 1rem;
}
.enlarge figure:hover img{
  transform: scale(1.3);
  outline: 1rem solid rgb(247, 170, 221);
  z-index: 2;
}
.zoomin figure img{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoomin figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
