html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  text-align: center;
  margin: 0 auto;
}
.gallery-parent {
  margin: 0rem;
}
.gallery {
  margin: 0rem;
}
.enlarge figure img{
  transition: all 0.3s;
}
.enlarge figure:hover img{
  transform: scale(1.3);
  z-index: 2;
}
.zoomin figure img{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoomin figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.opacity figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.opacity figure:hover img {
	opacity: .5;
}
